label{
    vertical-align: top;
    border-bottom: 1px solid #8869a4;
}
input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 10px white !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}
:focus::-webkit-input-placeholder { color: transparent; transition-timing-function: ease-in-out;
    transition-duration: 1s; }
:focus::-moz-placeholder          { color: transparent;transition-timing-function: ease-in-out;
    transition-duration: 1s;  }
:focus:-moz-placeholder           { color: transparent; transition-timing-function: ease-in-out;
    transition-duration: 1s; }
:focus:-ms-input-placeholder      { color: transparent; transition-timing-function: ease-in-out;
    transition-duration: 1s; }